.etica-title{
    padding-top: 100px;
    text-align: center;
    color: #101e2c;
    padding-bottom: 50px;
}

.etica-title h2{
    font-size: 2.5rem;
    font-weight: 700;
}

.etica-title p{
    font-size: 1rem;
    font-weight: 600;
}

.etica h2{
    font-size: 2rem;
    padding-bottom: 10px;
}

.etica ul{
    font-size: 1rem;
    font-weight: 600;
}

.etica li{
    margin: 10px;
    margin-bottom: 30px;
}